/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'PT Sans', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.focus a {
  color: #f9b129 !important; }
  .focus a i {
    transform: rotate(-180deg); }
.focus .dropMenu {
  opacity: 1 !important;
  transform: translateY(0px) !important;
  visibility: visible !important; }

@keyframes headerAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible; } }
@keyframes SlideText {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px) scale(0.7); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%) scale(1); } }
@keyframes cardAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7); }
  60% {
    transform: scale(1.02); }
  100% {
    transform: scale(1); } }
.headerJS {
  animation: headerAnimation both 1s;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999; }

.Card1JS {
  display: block !important;
  animation: cardAnimation both 1s 0.6s; }

.Card2JS {
  display: block !important;
  animation: cardAnimation both 1s 0.8s; }

.Card3JS {
  display: block !important;
  animation: cardAnimation both 1s 0.4s; }

.BoxCard1JS {
  display: block !important;
  animation-name: boxCardAnimation;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.4s; }

.BoxCard2JS {
  display: block !important;
  animation-name: boxCardAnimation;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.8s; }

.BoxCard3JS {
  display: block !important;
  animation-name: boxCardAnimation;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 0.6s; }

.BoxCard4JS {
  display: block !important;
  animation-name: boxCardAnimation;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s; }

@keyframes boxCardAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.7); }
  70% {
    transform: scale(1.02); }
  100% {
    transform: scale(1); } }
.active {
  display: block !important; }

.notActive {
  display: none !important; }

header .headerPage {
  padding: 1rem 0px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  border: 0 solid;
  background-color: #fff; }
  header .headerPage .row {
    align-items: center; }
  header .headerPage .logoPage a {
    display: block;
    position: relative;
    padding-bottom: 40%;
    overflow: hidden; }
  header .headerPage .logoPage img {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%; }
  header .headerPage .contactPage .phonePage a {
    outline: none;
    text-decoration: none;
    color: black;
    transition: all 0.3s;
    font-size: 20px; }
    header .headerPage .contactPage .phonePage a i {
      font-size: 20px;
      color: #f9b129; }
    header .headerPage .contactPage .phonePage a:hover {
      color: #f9b129; }
  header .headerPage .contactPage .cartPage a {
    outline: none;
    text-decoration: none;
    color: #9b9b9b;
    font-size: 20px;
    transition: all 0.3s; }
    header .headerPage .contactPage .cartPage a i {
      color: #f9b129;
      font-size: 20px; }
    header .headerPage .contactPage .cartPage a:hover {
      color: #f9b129; }
  header .headerPage .menuPage ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .headerPage .menuPage ul li {
      float: left;
      position: relative;
      margin-right: 25px; }
      header .headerPage .menuPage ul li a {
        display: flex;
        padding: 10px;
        outline: none;
        text-decoration: none;
        color: black;
        position: relative;
        align-items: center;
        font-size: 20px; }
        header .headerPage .menuPage ul li a i {
          transition: all ease-in-out 0.3s;
          font-size: 10px;
          margin-left: 5px;
          font-weight: bolder; }
      header .headerPage .menuPage ul li:hover a {
        color: #f9b129; }
        header .headerPage .menuPage ul li:hover a i {
          transform: rotate(-180deg); }
      header .headerPage .menuPage ul li:last-child {
        margin-right: 0px; }
      header .headerPage .menuPage ul li .dropMenu {
        position: absolute;
        transform: translateY(25px);
        z-index: 10;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px 0 rgba(14, 30, 37, 0.12);
        border: 0;
        opacity: 0;
        visibility: hidden;
        top: 55px;
        background-color: #fff;
        transition: all ease-in-out 0.3s; }
        header .headerPage .menuPage ul li .dropMenu .row1Menu, header .headerPage .menuPage ul li .dropMenu .row2Menu, header .headerPage .menuPage ul li .dropMenu .row3Menu, header .headerPage .menuPage ul li .dropMenu .row4Menu {
          justify-content: left; }
          header .headerPage .menuPage ul li .dropMenu .row1Menu li, header .headerPage .menuPage ul li .dropMenu .row2Menu li, header .headerPage .menuPage ul li .dropMenu .row3Menu li, header .headerPage .menuPage ul li .dropMenu .row4Menu li {
            border-bottom: 1px solid #f2f3f8;
            border-right: 1px solid #f2f3f8;
            margin-right: 0px;
            text-align: center;
            transition: all 0.3s; }
            header .headerPage .menuPage ul li .dropMenu .row1Menu li:hover, header .headerPage .menuPage ul li .dropMenu .row2Menu li:hover, header .headerPage .menuPage ul li .dropMenu .row3Menu li:hover, header .headerPage .menuPage ul li .dropMenu .row4Menu li:hover {
              background-color: #f2f3f8; }
            header .headerPage .menuPage ul li .dropMenu .row1Menu li a, header .headerPage .menuPage ul li .dropMenu .row2Menu li a, header .headerPage .menuPage ul li .dropMenu .row3Menu li a, header .headerPage .menuPage ul li .dropMenu .row4Menu li a {
              display: block;
              color: black !important;
              font-size: 18px; }
            header .headerPage .menuPage ul li .dropMenu .row1Menu li:last-child, header .headerPage .menuPage ul li .dropMenu .row2Menu li:last-child, header .headerPage .menuPage ul li .dropMenu .row3Menu li:last-child, header .headerPage .menuPage ul li .dropMenu .row4Menu li:last-child {
              border-bottom: 1px solid #f2f3f8;
              border-right: 0px; }
    header .headerPage .menuPage ul .Menu2 .dropMenu ul {
      flex-direction: column; }
      header .headerPage .menuPage ul .Menu2 .dropMenu ul li {
        min-width: 200px;
        border-right: none;
        text-align: left;
        border-bottom: 1px solid #d3d3d6; }
        header .headerPage .menuPage ul .Menu2 .dropMenu ul li a {
          padding: 10px 10px 10px 25px; }
          header .headerPage .menuPage ul .Menu2 .dropMenu ul li a span {
            transition: all linear 0.1s;
            display: inline-block;
            transform: translateX(-10px); }
          header .headerPage .menuPage ul .Menu2 .dropMenu ul li a i {
            opacity: 0;
            visibility: hidden;
            transition: all linear 0.2s;
            transform: rotate(0deg) translateX(-10px); }
        header .headerPage .menuPage ul .Menu2 .dropMenu ul li:hover {
          background-color: transparent; }
          header .headerPage .menuPage ul .Menu2 .dropMenu ul li:hover a {
            color: #ed5d5d !important; }
            header .headerPage .menuPage ul .Menu2 .dropMenu ul li:hover a i {
              opacity: 1 !important;
              visibility: visible !important;
              transform: translateX(0px) !important; }
            header .headerPage .menuPage ul .Menu2 .dropMenu ul li:hover a span {
              transform: translateX(0px); }
    header .headerPage .menuPage ul .Menu3 .dropMenu {
      display: flex;
      padding: 20px 0px;
      right: -400px; }
      header .headerPage .menuPage ul .Menu3 .dropMenu ul {
        flex-direction: column;
        border-right: 1px solid #f2f3f8;
        align-items: baseline; }
        header .headerPage .menuPage ul .Menu3 .dropMenu ul .row1Child {
          margin-bottom: 30px; }
        header .headerPage .menuPage ul .Menu3 .dropMenu ul h2 {
          padding: 10px 10px 10px 20px;
          display: block;
          transform: translateX(10px);
          color: #f9b129;
          font-weight: bolder;
          font-size: 20px; }
        header .headerPage .menuPage ul .Menu3 .dropMenu ul li {
          min-width: 300px;
          border-right: none;
          text-align: left;
          border-right: 0px;
          border-bottom: 0px; }
          header .headerPage .menuPage ul .Menu3 .dropMenu ul li a {
            padding: 10px 10px 10px 25px; }
            header .headerPage .menuPage ul .Menu3 .dropMenu ul li a span {
              transition: all linear 0.1s;
              display: inline-block;
              transform: translateX(-10px); }
            header .headerPage .menuPage ul .Menu3 .dropMenu ul li a i {
              opacity: 0;
              visibility: hidden;
              transition: all linear 0.2s;
              transform: rotate(0deg) translateX(-10px); }
          header .headerPage .menuPage ul .Menu3 .dropMenu ul li:last-child {
            border-bottom: 0px;
            border-right: 0px; }
          header .headerPage .menuPage ul .Menu3 .dropMenu ul li:hover {
            background-color: transparent; }
            header .headerPage .menuPage ul .Menu3 .dropMenu ul li:hover a {
              color: #ed5d5d !important; }
              header .headerPage .menuPage ul .Menu3 .dropMenu ul li:hover a i {
                opacity: 1 !important;
                visibility: visible !important;
                transform: translateX(0px) !important; }
              header .headerPage .menuPage ul .Menu3 .dropMenu ul li:hover a span {
                transform: translateX(0px); }

.slidePage .owl-dots {
  position: absolute;
  bottom: 150px;
  left: 300px;
  display: flex; }
  .slidePage .owl-dots .owl-dot {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s; }
    .slidePage .owl-dots .owl-dot:hover {
      background-color: #ed5d5d; }
  .slidePage .owl-dots .active {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #ed5d5d;
    border-radius: 50%; }
.slidePage .active .slide1 .testSilde, .slidePage .active .slide2 .testSilde {
  display: block; }
.slidePage .slide1, .slidePage .slide2 {
  background-image: url(../../images/home-slide-2-1920x800.jpg);
  background-size: cover;
  background-position: center;
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .slidePage .slide1 .testSilde, .slidePage .slide2 .testSilde {
    text-align: center;
    display: none; }
    .slidePage .slide1 .testSilde h5, .slidePage .slide2 .testSilde h5 {
      font-size: 30px;
      color: #fff;
      font-weight: bolder;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 10px;
      animation: SlideText both 1s 0.2s; }
      .slidePage .slide1 .testSilde h5::before, .slidePage .slide2 .testSilde h5::before {
        position: absolute;
        content: "";
        height: 3px;
        left: 80px;
        width: 30px;
        background-color: #fff; }
      .slidePage .slide1 .testSilde h5::after, .slidePage .slide2 .testSilde h5::after {
        position: absolute;
        content: "";
        height: 3px;
        right: 80px;
        width: 30px;
        background-color: #fff; }
    .slidePage .slide1 .testSilde .testSilde_h1_1, .slidePage .slide2 .testSilde .testSilde_h1_1 {
      font-size: 70px;
      font-weight: bolder;
      color: #fff;
      animation: SlideText both 1s 0.4s; }
    .slidePage .slide1 .testSilde .testSilde_h1_2, .slidePage .slide2 .testSilde .testSilde_h1_2 {
      font-size: 100px;
      color: #fff;
      font-weight: bold;
      animation: SlideText both 1s 0.6s; }
    .slidePage .slide1 .testSilde h3, .slidePage .slide2 .testSilde h3 {
      font-size: 40px;
      color: #f9b129;
      font-weight: bolder;
      animation: SlideText both 1s 0.8s;
      margin-top: 10px; }
.slidePage .slide2 {
  background-image: url(../../images/home-slide-3-1920x800.jpg); }
  .slidePage .slide2 .testSilde h5 {
    background-image: url(../../images/bg-label-image.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px; }
    .slidePage .slide2 .testSilde h5::before {
      display: none; }
    .slidePage .slide2 .testSilde h5::after {
      display: none; }
  .slidePage .slide2 .testSilde h3 {
    animation: SlideText both 1s 0.6s; }

.cardFilterPage {
  padding: 4rem 0px; }
  .cardFilterPage .Card1, .cardFilterPage .Card2, .cardFilterPage .Card3 {
    display: none;
    transition: all 0.3s; }
    .cardFilterPage .Card1:hover, .cardFilterPage .Card2:hover, .cardFilterPage .Card3:hover {
      transform: scale(1.03) !important;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      border: 0; }
      .cardFilterPage .Card1:hover a .textCard, .cardFilterPage .Card2:hover a .textCard, .cardFilterPage .Card3:hover a .textCard {
        bottom: 55px; }
    .cardFilterPage .Card1 a, .cardFilterPage .Card2 a, .cardFilterPage .Card3 a {
      outline: none;
      position: relative;
      display: block;
      text-decoration: none; }
      .cardFilterPage .Card1 a .imgCard, .cardFilterPage .Card2 a .imgCard, .cardFilterPage .Card3 a .imgCard {
        overflow: hidden;
        position: relative;
        padding-top: 65%; }
        .cardFilterPage .Card1 a .imgCard img, .cardFilterPage .Card2 a .imgCard img, .cardFilterPage .Card3 a .imgCard img {
          object-fit: cover;
          position: absolute;
          left: 0px;
          right: 0px;
          top: 0px;
          bottom: 0px;
          width: 100%; }
      .cardFilterPage .Card1 a .textCard, .cardFilterPage .Card2 a .textCard, .cardFilterPage .Card3 a .textCard {
        position: absolute;
        bottom: 50px;
        transition: all 0.3s;
        left: 0px;
        right: 0px;
        text-align: center; }
        .cardFilterPage .Card1 a .textCard h1, .cardFilterPage .Card2 a .textCard h1, .cardFilterPage .Card3 a .textCard h1 {
          color: #fff;
          font-size: 60px;
          font-weight: bolder;
          margin-bottom: 10px; }
        .cardFilterPage .Card1 a .textCard p, .cardFilterPage .Card2 a .textCard p, .cardFilterPage .Card3 a .textCard p {
          color: #fff;
          font-size: 20px; }

.ourMenuPage {
  padding: 4rem 0px;
  background-color: #f2f3f8; }
  .ourMenuPage .textPage {
    text-align: center;
    margin-bottom: 30px; }
    .ourMenuPage .textPage h2 {
      font-size: 40px;
      font-weight: bolder; }
  .ourMenuPage .listPage ul {
    display: flex;
    align-items: center;
    justify-content: center; }
    .ourMenuPage .listPage ul li {
      padding: 15px 30px;
      border-radius: 30px;
      border: 2px solid #d3d3d6;
      transition: all 0.3s;
      margin-right: 15px;
      cursor: pointer; }
      .ourMenuPage .listPage ul li span {
        color: #9b9b9b;
        font-size: 18px; }
      .ourMenuPage .listPage ul li:hover {
        border: 2px solid #ed5d5d; }
        .ourMenuPage .listPage ul li:hover span {
          color: #ed5d5d; }
      .ourMenuPage .listPage ul li:last-child {
        margin-right: 0px; }
    .ourMenuPage .listPage ul .active {
      border: 2px solid #ed5d5d; }
      .ourMenuPage .listPage ul .active span {
        color: #ed5d5d; }
  .ourMenuPage .slickPage {
    margin: 2rem 0px;
    position: relative; }
    .ourMenuPage .slickPage::before {
      position: absolute;
      content: "";
      background: url(../../images/slick-center-bg.png) center center no-repeat;
      left: 0;
      right: 0;
      top: 0px;
      bottom: 0px; }
    .ourMenuPage .slickPage .toastItem {
      display: none; }
    .ourMenuPage .slickPage .pizza {
      display: none; }
    .ourMenuPage .slickPage .center {
      position: relative;
      overflow: hidden; }
      .ourMenuPage .slickPage .center .slick-prev, .ourMenuPage .slickPage .center .slick-next {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 46%;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        z-index: 9;
        border: 1px solid #d3d3d6;
        background-color: transparent;
        transition: all linear 0.3s; }
        .ourMenuPage .slickPage .center .slick-prev i, .ourMenuPage .slickPage .center .slick-next i {
          color: #d3d3d6; }
        .ourMenuPage .slickPage .center .slick-prev:hover, .ourMenuPage .slickPage .center .slick-next:hover {
          background-color: #f9b129; }
          .ourMenuPage .slickPage .center .slick-prev:hover i, .ourMenuPage .slickPage .center .slick-next:hover i {
            color: #fff; }
      .ourMenuPage .slickPage .center .slick-next {
        right: 33%; }
      .ourMenuPage .slickPage .center .slick-prev {
        left: 33%; }
      .ourMenuPage .slickPage .center .slick-track {
        display: flex;
        align-items: center;
        justify-content: center; }
      .ourMenuPage .slickPage .center .slick-center .itemFull {
        padding: 4rem; }
        .ourMenuPage .slickPage .center .slick-center .itemFull .textItem .content {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
          font-size: 14px;
          line-height: 1.5rem;
          margin-bottom: 15px; }
        .ourMenuPage .slickPage .center .slick-center .itemFull .cartItem a {
          margin-top: 15px;
          opacity: 1;
          visibility: visible;
          font-size: 14px;
          transform: scale(1); }
    .ourMenuPage .slickPage .itemSlick .itemFull {
      text-align: center;
      padding: 4rem; }
      .ourMenuPage .slickPage .itemSlick .itemFull .imageItem {
        position: relative;
        overflow: hidden;
        padding-bottom: 80%; }
        .ourMenuPage .slickPage .itemSlick .itemFull .imageItem img {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%; }
      .ourMenuPage .slickPage .itemSlick .itemFull .textItem {
        margin-top: 10px; }
        .ourMenuPage .slickPage .itemSlick .itemFull .textItem h1 {
          font-size: 30px;
          font-weight: bolder;
          margin-bottom: 15px; }
        .ourMenuPage .slickPage .itemSlick .itemFull .textItem .content {
          color: #9b9b9b;
          opacity: 0;
          font-size: 0px;
          visibility: hidden;
          transform: scale(0);
          transition: 250ms; }
        .ourMenuPage .slickPage .itemSlick .itemFull .textItem .price {
          color: #ed5d5d;
          font-weight: bolder;
          font-size: 25px; }
      .ourMenuPage .slickPage .itemSlick .itemFull .cartItem a {
        display: inline-block;
        outline: none;
        text-decoration: none;
        transition: 450ms;
        color: #fff;
        font-size: 0px;
        visibility: hidden;
        transform: scale(0);
        opacity: 0;
        padding: 15px 30px;
        background-color: #ed5d5d;
        border-radius: 30px;
        border: 1px solid #ed5d5d; }
        .ourMenuPage .slickPage .itemSlick .itemFull .cartItem a:hover {
          background-color: #f9b129;
          border: 1px solid #f9b129; }

.boxCardPage {
  padding: 4rem 0px; }
  .boxCardPage .boxCard1, .boxCardPage .boxCard2, .boxCardPage .boxCard3, .boxCardPage .boxCard4 {
    text-align: center;
    height: calc(100% - 20px);
    margin-bottom: 20px;
    display: none; }
    .boxCardPage .boxCard1 .nameCard h1, .boxCardPage .boxCard2 .nameCard h1, .boxCardPage .boxCard3 .nameCard h1, .boxCardPage .boxCard4 .nameCard h1 {
      font-size: 20px;
      font-weight: bolder;
      display: inline-block;
      position: relative;
      padding-bottom: 20px; }
      .boxCardPage .boxCard1 .nameCard h1::after, .boxCardPage .boxCard2 .nameCard h1::after, .boxCardPage .boxCard3 .nameCard h1::after, .boxCardPage .boxCard4 .nameCard h1::after {
        position: absolute;
        content: "";
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: #f9b129;
        height: 4px;
        width: 40px;
        margin: auto; }
    .boxCardPage .boxCard1 .contentCard, .boxCardPage .boxCard2 .contentCard, .boxCardPage .boxCard3 .contentCard, .boxCardPage .boxCard4 .contentCard {
      width: 80%;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto; }
      .boxCardPage .boxCard1 .contentCard p, .boxCardPage .boxCard2 .contentCard p, .boxCardPage .boxCard3 .contentCard p, .boxCardPage .boxCard4 .contentCard p {
        line-height: 1.5rem;
        color: #9b9b9b; }

.introducePage {
  padding: 4rem 0px;
  display: flex;
  overflow: hidden; }
  .introducePage .introduce1, .introducePage .introduce2, .introducePage .introduce3, .introducePage .introduce4 {
    flex: auto; }
    .introducePage .introduce1 .imageIntroduce, .introducePage .introduce2 .imageIntroduce, .introducePage .introduce3 .imageIntroduce, .introducePage .introduce4 .imageIntroduce {
      position: relative;
      overflow: hidden;
      padding-bottom: 80%;
      transition: all ease-in-out 0.3s; }
      .introducePage .introduce1 .imageIntroduce img, .introducePage .introduce2 .imageIntroduce img, .introducePage .introduce3 .imageIntroduce img, .introducePage .introduce4 .imageIntroduce img {
        position: absolute;
        content: "";
        left: 0px;
        top: 0px; }
    .introducePage .introduce1:hover .imageIntroduce, .introducePage .introduce2:hover .imageIntroduce, .introducePage .introduce3:hover .imageIntroduce, .introducePage .introduce4:hover .imageIntroduce {
      z-index: 99;
      transform: scale(1.05);
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
      border: 0; }

/*# sourceMappingURL=style.css.map */
