@media screen and (max-width:480px) {
    header {
        display: none;
    }
    nav {
        display: block;
    }
    .contentMenuPage {
        padding: 10rem 0px 2rem !important;
    }
    main {
        .mainPage {
            .textNameCard {
                width: 100%;
                p{
                    width: 100%;
                }
            }
            .cardItemMain {
                .map-clock-calendar {
                    flex-wrap: wrap;
                    .map,.clock {
                        flex: 1;
                        text-align: center;
                    }
                    .calendar {
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }
    
}

@media (min-width: 481px) and (max-width: 767px) { 
    header {
        display: none;
    }
    nav {
        display: block;
    }
    .contentMenuPage {
        padding: 10rem 0px 2rem !important;
    }
    main {
        .mainPage {
            .textNameCard {
                width: 100%;
                p{
                    width: 100%;
                }
            }
            .col-md-6 {
                width: 100%;
            }
        }
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        display: none;
    }
    nav {
        display: block;
    }
    .contentMenuPage {
        padding: 10rem 0px 2rem !important;
    }
    main {
        .mainPage {
            .textNameCard {
                width: 100%;
                p{
                    width: 100%;
                }
            }
            .col-md-6 {
                width: 100%;
            }
        }
    }
}

@media (min-width: 1025px) and (max-width: 1260px) {
    header {
        display: none;
    }
    nav {
        display: block;
    }
    .contentMenuPage {
        padding: 10rem 0px 2rem !important;
    }
}