/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'PT Sans', sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.focus a {
  color: #f9b129 !important; }
  .focus a i {
    transform: rotate(-180deg); }
.focus .dropMenu {
  opacity: 1 !important;
  transform: translateY(0px) !important;
  visibility: visible !important; }

.headerJS {
  animation: headerAnimation both 1s;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 999; }

@keyframes headerAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%);
    opacity: 1;
    visibility: visible; } }
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden; }

header .headerPage {
  padding: 1rem 0px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  border: 0 solid;
  background-color: #fff; }
  header .headerPage .row {
    align-items: center; }
  header .headerPage .logoPage a {
    display: block;
    position: relative;
    padding-bottom: 40%;
    overflow: hidden; }
  header .headerPage .logoPage img {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%; }
  header .headerPage .contactPage .phonePage a {
    outline: none;
    text-decoration: none;
    color: black;
    transition: all 0.3s;
    font-size: 20px; }
    header .headerPage .contactPage .phonePage a i {
      font-size: 20px;
      color: #f9b129; }
    header .headerPage .contactPage .phonePage a:hover {
      color: #f9b129; }
  header .headerPage .contactPage .cartPage a {
    outline: none;
    text-decoration: none;
    color: #9b9b9b;
    font-size: 20px;
    transition: all 0.3s; }
    header .headerPage .contactPage .cartPage a i {
      color: #f9b129;
      font-size: 20px; }
    header .headerPage .contactPage .cartPage a:hover {
      color: #f9b129; }
  header .headerPage .menuPage ul {
    display: flex;
    justify-content: center;
    align-items: center; }
    header .headerPage .menuPage ul li {
      float: left;
      position: relative;
      margin-right: 25px; }
      header .headerPage .menuPage ul li a {
        display: flex;
        padding: 10px;
        outline: none;
        text-decoration: none;
        color: black;
        position: relative;
        align-items: center;
        font-size: 20px; }
        header .headerPage .menuPage ul li a i {
          transition: all ease-in-out 0.3s;
          font-size: 10px;
          margin-left: 5px;
          font-weight: bolder; }
      header .headerPage .menuPage ul li:hover a {
        color: #f9b129; }
        header .headerPage .menuPage ul li:hover a i {
          transform: rotate(-180deg); }
      header .headerPage .menuPage ul li:last-child {
        margin-right: 0px; }
      header .headerPage .menuPage ul li .dropMenu {
        position: absolute;
        transform: translateY(25px);
        z-index: 10;
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 4px 0 rgba(14, 30, 37, 0.12);
        border: 0;
        opacity: 0;
        visibility: hidden;
        top: 55px;
        background-color: #fff;
        transition: all ease-in-out 0.3s; }
        header .headerPage .menuPage ul li .dropMenu .row1Menu, header .headerPage .menuPage ul li .dropMenu .row2Menu, header .headerPage .menuPage ul li .dropMenu .row3Menu, header .headerPage .menuPage ul li .dropMenu .row4Menu {
          justify-content: left; }
          header .headerPage .menuPage ul li .dropMenu .row1Menu li, header .headerPage .menuPage ul li .dropMenu .row2Menu li, header .headerPage .menuPage ul li .dropMenu .row3Menu li, header .headerPage .menuPage ul li .dropMenu .row4Menu li {
            border-bottom: 1px solid #f2f3f8;
            border-right: 1px solid #f2f3f8;
            margin-right: 0px;
            text-align: center;
            transition: all 0.3s; }
            header .headerPage .menuPage ul li .dropMenu .row1Menu li:hover, header .headerPage .menuPage ul li .dropMenu .row2Menu li:hover, header .headerPage .menuPage ul li .dropMenu .row3Menu li:hover, header .headerPage .menuPage ul li .dropMenu .row4Menu li:hover {
              background-color: #f2f3f8; }
            header .headerPage .menuPage ul li .dropMenu .row1Menu li a, header .headerPage .menuPage ul li .dropMenu .row2Menu li a, header .headerPage .menuPage ul li .dropMenu .row3Menu li a, header .headerPage .menuPage ul li .dropMenu .row4Menu li a {
              display: block;
              color: black !important;
              font-size: 18px; }
            header .headerPage .menuPage ul li .dropMenu .row1Menu li:last-child, header .headerPage .menuPage ul li .dropMenu .row2Menu li:last-child, header .headerPage .menuPage ul li .dropMenu .row3Menu li:last-child, header .headerPage .menuPage ul li .dropMenu .row4Menu li:last-child {
              border-bottom: 1px solid #f2f3f8;
              border-right: 0px; }
    header .headerPage .menuPage ul .Menu2 .dropMenu ul {
      flex-direction: column; }
      header .headerPage .menuPage ul .Menu2 .dropMenu ul li {
        min-width: 200px;
        border-right: none;
        text-align: left;
        border-bottom: 1px solid #d3d3d6; }
        header .headerPage .menuPage ul .Menu2 .dropMenu ul li a {
          padding: 10px 10px 10px 25px; }
          header .headerPage .menuPage ul .Menu2 .dropMenu ul li a span {
            transition: all linear 0.1s;
            display: inline-block;
            transform: translateX(-10px); }
          header .headerPage .menuPage ul .Menu2 .dropMenu ul li a i {
            opacity: 0;
            visibility: hidden;
            transition: all linear 0.2s;
            transform: rotate(0deg) translateX(-10px); }
        header .headerPage .menuPage ul .Menu2 .dropMenu ul li:hover {
          background-color: transparent; }
          header .headerPage .menuPage ul .Menu2 .dropMenu ul li:hover a {
            color: #ed5d5d !important; }
            header .headerPage .menuPage ul .Menu2 .dropMenu ul li:hover a i {
              opacity: 1 !important;
              visibility: visible !important;
              transform: translateX(0px) !important; }
            header .headerPage .menuPage ul .Menu2 .dropMenu ul li:hover a span {
              transform: translateX(0px); }
    header .headerPage .menuPage ul .Menu3 .dropMenu {
      display: flex;
      padding: 20px 0px;
      right: -400px; }
      header .headerPage .menuPage ul .Menu3 .dropMenu ul {
        flex-direction: column;
        border-right: 1px solid #f2f3f8;
        align-items: baseline; }
        header .headerPage .menuPage ul .Menu3 .dropMenu ul .row1Child {
          margin-bottom: 30px; }
        header .headerPage .menuPage ul .Menu3 .dropMenu ul h2 {
          padding: 10px 10px 10px 20px;
          display: block;
          transform: translateX(10px);
          color: #f9b129;
          font-weight: bolder;
          font-size: 20px; }
        header .headerPage .menuPage ul .Menu3 .dropMenu ul li {
          min-width: 300px;
          border-right: none;
          text-align: left;
          border-right: 0px;
          border-bottom: 0px; }
          header .headerPage .menuPage ul .Menu3 .dropMenu ul li a {
            padding: 10px 10px 10px 25px; }
            header .headerPage .menuPage ul .Menu3 .dropMenu ul li a span {
              transition: all linear 0.1s;
              display: inline-block;
              transform: translateX(-10px); }
            header .headerPage .menuPage ul .Menu3 .dropMenu ul li a i {
              opacity: 0;
              visibility: hidden;
              transition: all linear 0.2s;
              transform: rotate(0deg) translateX(-10px); }
          header .headerPage .menuPage ul .Menu3 .dropMenu ul li:last-child {
            border-bottom: 0px;
            border-right: 0px; }
          header .headerPage .menuPage ul .Menu3 .dropMenu ul li:hover {
            background-color: transparent; }
            header .headerPage .menuPage ul .Menu3 .dropMenu ul li:hover a {
              color: #ed5d5d !important; }
              header .headerPage .menuPage ul .Menu3 .dropMenu ul li:hover a i {
                opacity: 1 !important;
                visibility: visible !important;
                transform: translateX(0px) !important; }
              header .headerPage .menuPage ul .Menu3 .dropMenu ul li:hover a span {
                transform: translateX(0px); }

.contentMenuPage {
  background-image: url(../../images/bg-image-breadcrumbs.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6rem 0px; }
  .contentMenuPage .textContentMenu {
    text-align: center; }
    .contentMenuPage .textContentMenu h5 {
      font-size: 60px;
      color: #fff;
      font-weight: bolder;
      margin-bottom: 20px; }
    .contentMenuPage .textContentMenu ul {
      display: flex;
      align-items: center;
      justify-content: center; }
      .contentMenuPage .textContentMenu ul li {
        margin-right: 20px; }
        .contentMenuPage .textContentMenu ul li a {
          text-decoration: none;
          outline: none;
          color: #fff;
          font-size: 20px; }
        .contentMenuPage .textContentMenu ul li i {
          color: #fff; }
        .contentMenuPage .textContentMenu ul li .active {
          color: #f9b129;
          transition: all 0.3s;
          margin-right: 20px; }
          .contentMenuPage .textContentMenu ul li .active:hover {
            color: #fff; }
        .contentMenuPage .textContentMenu ul li:last-child {
          margin-right: 0px; }

main .mainPage {
  padding: 4rem 0px; }
  main .mainPage .textNameCard {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 15px; }
    main .mainPage .textNameCard h1 {
      font-size: 40px;
      color: black;
      font-weight: bolder;
      margin-bottom: 15px; }
    main .mainPage .textNameCard p {
      margin: auto;
      width: 70%;
      line-height: 1.5rem;
      color: #9b9b9b; }
  main .mainPage .cardItemMain {
    padding: 50px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border: 0;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    border-radius: 10px; }
    main .mainPage .cardItemMain a {
      outline: none;
      text-decoration: none;
      color: black;
      font-size: 30px;
      transition: all 0.3s; }
      main .mainPage .cardItemMain a:hover {
        color: #f9b129; }
    main .mainPage .cardItemMain .map-clock-calendar {
      margin-top: 20px;
      display: flex; }
      main .mainPage .cardItemMain .map-clock-calendar p {
        margin: 0px 20px 0px 0px;
        color: #9b9b9b; }
        main .mainPage .cardItemMain .map-clock-calendar p i {
          color: #f9b129;
          margin-right: 5px; }

.activeNavMobile {
  left: 0px !important; }

.toggleIcon i {
  transform: rotate(180deg); }
  .toggleIcon i::before {
    content: "\f061"; }

nav {
  display: none; }
  nav .navMobile .fullNav {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 999; }
    nav .navMobile .fullNav .headerNav {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      position: relative;
      z-index: 999;
      height: 140px; }
      nav .navMobile .fullNav .headerNav .logoPage img {
        width: 100%; }
      nav .navMobile .fullNav .headerNav .navIcon {
        width: 15%;
        text-align: center; }
        nav .navMobile .fullNav .headerNav .navIcon i {
          transition: all ease-in-out 0.2s;
          font-size: 20px;
          font-weight: bolder; }
    nav .navMobile .fullNav .listMenu {
      position: fixed;
      top: 120px;
      background-color: #fff;
      padding-top: 20px;
      width: 300px;
      left: -100%;
      transition: left ease-in-out 0.3s;
      overflow-y: auto;
      overflow-x: hidden;
      z-index: 99;
      bottom: -1px; }
      nav .navMobile .fullNav .listMenu .phone {
        padding: 20px;
        display: block;
        outline: none;
        text-decoration: none;
        color: black;
        font-size: 25px;
        transition: all 0.3s;
        font-weight: bolder; }
        nav .navMobile .fullNav .listMenu .phone i {
          color: #f9b129;
          transform: rotate(-45deg); }
        nav .navMobile .fullNav .listMenu .phone:hover {
          color: #f9b129 !important; }
      nav .navMobile .fullNav .listMenu .cartMenu {
        padding: 20px;
        display: block;
        outline: none;
        text-decoration: none;
        color: #9b9b9b;
        font-size: 25px;
        transition: all 0.3s;
        font-weight: bolder; }
        nav .navMobile .fullNav .listMenu .cartMenu i {
          color: #f9b129; }
        nav .navMobile .fullNav .listMenu .cartMenu:hover {
          color: #f9b129 !important; }
      nav .navMobile .fullNav .listMenu .activeListMenu li i {
        transform: rotate(90deg) !important; }
      nav .navMobile .fullNav .listMenu ul h2 {
        text-align: center;
        font-size: 20px;
        font-weight: bolder;
        padding: 10px 0px;
        color: #f9b129; }
      nav .navMobile .fullNav .listMenu ul li {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        flex-wrap: wrap; }
        nav .navMobile .fullNav .listMenu ul li:hover {
          background-color: #f9b129; }
          nav .navMobile .fullNav .listMenu ul li:hover a {
            color: #fff; }
          nav .navMobile .fullNav .listMenu ul li:hover i {
            color: #fff; }
        nav .navMobile .fullNav .listMenu ul li a {
          outline: none;
          text-decoration: none;
          color: black;
          font-size: 20px;
          flex: 1 0 auto;
          text-align: left;
          padding: 20px;
          transition: all 0.3s;
          display: block; }
        nav .navMobile .fullNav .listMenu ul li i {
          color: black;
          transform: rotate(-90deg);
          font-size: 18px;
          transition: all 0.3s;
          padding: 20px; }
        nav .navMobile .fullNav .listMenu ul li .dropdownMenuChild {
          display: none;
          width: 100%;
          background-color: #fff; }
          nav .navMobile .fullNav .listMenu ul li .dropdownMenuChild ul li:hover {
            background-color: #f2f3f8 !important; }
          nav .navMobile .fullNav .listMenu ul li .dropdownMenuChild ul li a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: black !important; }
            nav .navMobile .fullNav .listMenu ul li .dropdownMenuChild ul li a .imageMenu {
              margin-right: 20px; }
              nav .navMobile .fullNav .listMenu ul li .dropdownMenuChild ul li a .imageMenu img {
                width: 100%; }

@media screen and (max-width: 480px) {
  header {
    display: none; }

  nav {
    display: block; }

  .contentMenuPage {
    padding: 10rem 0px 2rem !important; }

  main .mainPage .textNameCard {
    width: 100%; }
    main .mainPage .textNameCard p {
      width: 100%; }
  main .mainPage .cardItemMain .map-clock-calendar {
    flex-wrap: wrap; }
    main .mainPage .cardItemMain .map-clock-calendar .map, main .mainPage .cardItemMain .map-clock-calendar .clock {
      flex: 1;
      text-align: center; }
    main .mainPage .cardItemMain .map-clock-calendar .calendar {
      width: 100%;
      text-align: center; } }
@media (min-width: 481px) and (max-width: 767px) {
  header {
    display: none; }

  nav {
    display: block; }

  .contentMenuPage {
    padding: 10rem 0px 2rem !important; }

  main .mainPage .textNameCard {
    width: 100%; }
    main .mainPage .textNameCard p {
      width: 100%; }
  main .mainPage .col-md-6 {
    width: 100%; } }
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    display: none; }

  nav {
    display: block; }

  .contentMenuPage {
    padding: 10rem 0px 2rem !important; }

  main .mainPage .textNameCard {
    width: 100%; }
    main .mainPage .textNameCard p {
      width: 100%; }
  main .mainPage .col-md-6 {
    width: 100%; } }
@media (min-width: 1025px) and (max-width: 1260px) {
  header {
    display: none; }

  nav {
    display: block; }

  .contentMenuPage {
    padding: 10rem 0px 2rem !important; } }

/*# sourceMappingURL=style.css.map */
